.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0px;
  margin-left: 5px;
  border-radius: 10px
}

.column-on {
  background-color: darkgray
}

.column-off {
  background-color: transparent;
}
