.music-block {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  border: black 2px solid;
}

.on {
  background-color: orange
}

.off {
  background-color: lightblue;
}

.border-on {
  border: orange 2px solid;
  width: 48px;
  height: 48px;
}

.border-off {
  border: black 2px solid;
}
