.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.synthesizer-div {
  margin: 15px;
  background-color: orange;
  border-radius: 15px;
  border: black 2px solid;
  width: 780px;
}

.synth-header {
  margin: 15px;
  display: flex;
  flex-direction: row;
}

.button-div {
  margin: 15px;
  background-color: lightgray;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black
}

.buttonImg {
  width: 35px;
  height: 35px;
}

.tempo-slider {
  width: 35px;
  height: 35px;
}

.noteset-columns {
  display: flex;
  flex-direction: column;
}

.bottom-row {
  display: flex
}
