.noteset-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -20px;
}

.selected {
  background-color: orange;
}

.noteset-name {
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  width: 70px;
}
